
div.side-bar.open,
div.textContainer-side-bar.open,
div.sidenav.open {
  transform: translateX(0);
  transition: transform 1s ease;
}

div.side-bar.closed,
div.textContainer-side-bar.closed,
div.sidenav.closed {
  transform: translateX(-120%);
  transition: transform 1s ease;
}
