body {
  background: linear-gradient(135deg, #303841, #6f7680);
  box-sizing: border-box;
  font-family: 'Playfair Display', serif, 'door-sliding';
}

a {
  text-decoration: none;
}

label,
h1,
h4,
.default-option {
  color: rgb(186, 186, 186);
}

label {
  font-weight: 600;
}

h4:hover {
  color: rgba(190, 186, 186, 0.5);
}

button.purple-button::after {
  content: "";
  background: rgb(171, 140, 228);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

button.purple-button:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.side-bar {
  border: 0.188rem solid rgba(186, 186, 186, 0.5);
}

span {
  display: inline;
}

.lg {
  background-color: #36404a;
}

.special-text,
.table-text {
  font-family: 'Montserrat', sans-serif;
  color: #ab8ce4;
  margin-right: 2rem;
  font-size: 1.5rem;

  /* white-space: nowrap; make sure this hasn't changed anything */
}

span.special-text.prompt.manage-flight-script-prompt {
  margin-left: auto;
}

.special-text {
  text-align: center;
}

span.special-text,
p.special-text {
  font-weight: 650;
}

.table-container {
  margin-top: 1rem;
  display: flex;
}

input,
textarea,
select {
  border: rgba(186, 186, 186, 0.5) 0.188rem solid;
  padding: 0.2rem;
  font-size: 1rem;
  outline: rgb(171, 140, 228);
  cursor: pointer;
  border-radius: 30px;
}

input:hover,
textarea:hover,
select:hover {
  cursor: pointer;
  border: 0.188rem solid rgb(171, 140, 228);
  box-shadow: 0 0 1px 1px rgba(171, 140, 228, 0.6);
}

img {
  width: 650px;
  height: 640px;
  margin-top: 0.5rem;
}

button {
  background-color: rgb(171, 140, 228);
  border-radius: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 2px rgb(0, 0, 0, 0.5);
}

button.manage-scripts,
button.manage-flights {
  background-color: rgb(0, 128, 128);
}

button.remove-contact {
  background-color: #f33;
}

tbody tr:nth-child(odd) {
  background-color: #303841;
  border-color: #303841;
}

.fa-4x {
  transform: scale(9);
  color: rgba(186, 186, 186, 0.1);
}

.left-arrow {
  transform: scale(4);
  color: rgba(186, 186, 186, 0.4);
}

.left-arrow.open,
.left-arrow.closed,
.fa-mailbox.closed {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 5s;
  transition-delay: 1s;
}

.home-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 85vh;
}

.home-component-container-textBox {
  border: 0.45rem rgba(186, 186, 186, 0.5) solid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 6rem 0.5rem 6rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

@media screen and (max-width: 768px), screen and (max-width: 1024px) and (orientation: landscape) {
  .component-container.open *,
  .container.open,
  .open input,
  .open button {
    background-color: rgb(1, 1, 1);
    color: rgb(1, 1, 1);
    border: 0.188rem solid rgb(1, 1, 1);
  }

  .table-container button {
    font-size: 1rem;
  }

  .table-container .special-text,
  .table-container .table-text {
    font-size: 1rem;
  }
}
