body {
  background-color: #303841;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

.side-bar {
  border: 0.188rem solid rgba(186, 186, 186, 0.5);
}

h1,
span {
  display: inline;
}

.lg {
  background-color: #36404a;
}

.specialText,
.tableText {
  font-family: 'Montserrat', sans-serif;
  color: #ab8ce4;
  margin-right: 2rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

span.specialText.prompt.manageFlightScriptPrompt {
  margin-left: auto;
}

.specialText {
  text-align: center;
}

span.specialText {
  font-weight: 650;
}

label,
h1,
h4,
.defaultOption {
  color: rgb(186, 186, 186);
}

form {
  margin: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 2rem;
}

.table-container {
  margin-top: 1rem;
  display: flex;
}

input,
select,
textarea {
  border: rgba(186, 186, 186, 0.5) 0.188rem solid;
  padding: 0.2rem;
  font-size: 1rem;
}

input:hover,
textarea:hover {
  cursor: pointer;
  border: 0.188rem solid rgb(171, 140, 228);
  box-shadow: 0 0 1px 1px rgba(171, 140, 228, 0.6);
}

img {
  width: 450px;
  height: 450px;
  margin-top: 3rem;
}

button {
  background-color: rgb(171, 140, 228);
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 2px rgb(0, 0, 0, 0.5);
}

button.manageScripts,
button.manageFlights {
  background-color: rgb(0, 128, 128);
}

tbody tr:nth-child(odd) {
  background-color: #303841;
  border-color: #303841;
}

.fa-5x {
  transform: scale(9);
  color: rgba(186, 186, 186, 0.1);
}

.fa-arrow-left {
  transform: scale(4);
  color: rgba(186, 186, 186, 0.1);
}

.fa-arrow-left.hidden {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-delay: 0.5s;
}

.homeComponentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 85vh;
}

@media screen and (max-width: 768px), screen and (max-width: 1024px) and (orientation: landscape) {
  .component-container.open *,
  .container.open,
  .open input,
  .open button {
    background-color: rgb(1, 1, 1);
    color: rgb(1, 1, 1);
    border: 0.188rem solid rgb(1, 1, 1);
  }

  .table-container button {
    font-size: 1rem;
  }

  .table-container .specialText,
  .table-container .tableText {
    font-size: 1rem;
  }
}
