body {
  background-color: #303841;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

/* font-family: 'Playfair Display', serif; secondary font */

/* font-family: 'Montserrat', sans-serif; */

.row {
  display: flex;
}

a {
  text-decoration: none;
}

.col {
  width: 100%;
}

.column.component-container {
  width: 100%;
  height: 100%;
}

.component-container {
  padding: 2rem;
}

.side-bar {
  width: 200px;
  height: 100vh;
}

.top-bar {
  width: 100%;
  height: 75px;
}

h1,
span {
  display: inline;
}

.lg {
  background-color: #36404a;
}

.column.picture {
  float: left;
  width: 691px;
}

.column.form {
  float: left;
  width: 691px;
}

.textContainer-side-bar {
  margin-left: 1rem;
}

.specialText {
  font-family: 'Montserrat', sans-serif;
  color: #ab8ce4;
  float: right;
  text-align: center;
  margin-right: 2rem;
  font-size: 1.5rem;
}

span.specialText {
  float: left;
  font-weight: 650;
}

.align-right {
  text-align: right;
}

label {
  display: inline-block;
  text-align: right;
  margin: 0 1rem 1rem 0;
}

label,
h1,
h4 {
  color: rgb(186, 186, 186);
}

form {
  margin: 3rem auto;
  font-family: 'Montserrat', sans-serif;
}

form.scripts {
  padding: 2rem;
}

input {
  border: 1px solid rgb(171, 140, 228);
  padding: 0.3rem;
  font-size: 1rem;
  width: 65%;
  margin: 0 0 2rem 0;
  display: inline-block;
}

input.scriptInputField {
  width: 100%;
}

input:hover {
  cursor: pointer;
  border: 3px solid rgb(171, 140, 228);
  box-shadow: 0 0 1px 1px rgba(171, 140, 228, 0.6);
}

img {
  width: 450px;
  height: 450px;
  margin-left: 3rem;
  margin-top: 3rem;
}

button {
  background-color: rgb(171, 140, 228);
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 2px rgb(0, 0, 0, 0.5);
  padding: 0.3rem 0.7rem;
}

button:hover {
  background-color: rgb(171, 140, 228);
}

button.createContact {
  margin-top: 3rem;
  margin-right: 6.5rem;
}

label.emailLabel {
  margin-right: 2.5rem;
}

label.phoneLabel {
  margin-right: 1.7rem;
}

label.companyLabel {
  margin-right: 1.1rem;
}
